<div class="title-box close-button-container">
  <h2 mat-dialog-title class="tab-title">
    {{ 'ADMIN.PRODUCTS.PRODUCT_DETAILS' | translate }}
  </h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<mat-dialog-content>
  <div class="product-details-content indent">
    <section>
      <h4>{{ 'ADMIN.PRODUCTS.TITLE' | translate }}:</h4>
      <p class="indent">{{ data.title[lang] }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.SUB_TITLE' | translate }}:</h4>
      <p class="indent">{{ data.subTitle[lang] }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.DATE_CREATED' | translate }}:</h4>
      <p class="indent">{{ data.created_at | date: 'fullDate' }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.LAST_UPDATED_ON' | translate }}:</h4>
      <p class="indent">{{ data.updated_at | date: 'fullDate' }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.SLUG' | translate }}:</h4>
      <p class="indent">{{ data.slug }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.DESCRIPTION' | translate }}:</h4>
      <p class="indent">{{ data.description[lang] }}</p>
    </section>

    <section *ngIf="data.prevPrice">
      <h4>{{ 'ADMIN.PRODUCTS.PREVIOUS_PRICE' | translate }}:</h4>
      <p class="indent">{{ data.prevPrice }}</p>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.CURRENT_PRICE' | translate }}:</h4>
      <p class="indent">{{ data.currentPrice }}</p>
    </section>

    <section>
      <h4>Product Dimension</h4>
      <div class="table">
        <div class="table-head row">
          <div class="cell">{{ 'ADMIN.PRODUCTS.LENGTH' | translate }} (mm)</div>
          <div class="cell">{{ 'ADMIN.PRODUCTS.WIDTH' | translate }} (mm)</div>
          <div class="cell">{{ 'ADMIN.PRODUCTS.HEIGHT' | translate }} (mm)</div>
          <div class="cell">{{ 'ADMIN.PRODUCTS.WEIGHT' | translate }} (g)</div>
        </div>
        <div class="table-content row">
          <div class="cell">{{ data.parcel.pLength }}</div>
          <div class="cell">{{ data.parcel.width }}</div>
          <div class="cell">{{ data.parcel.height }}</div>
          <div class="cell">{{ data.parcel.weight }}</div>
        </div>
      </div>
    </section>

    <section>
      <h4>{{ 'ADMIN.PRODUCTS.IMAGES' | translate }}</h4>
      <app-image-gallery [images]="data.progressiveImages"></app-image-gallery>
    </section>
  </div>
</mat-dialog-content>
