<div *ngIf="params && params.data">
  <button
    mat-icon-button
    color="primary"
    class="ag-grid-btn"
    aria-label="read"
    *ngIf="hasReadProperty && !params.data.read"
    (click)="clickButton('markAsRead')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.MARK_AS_READ' | translate"
  >
    <mat-icon>check</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    class="ag-grid-btn"
    aria-label="Edit"
    *ngIf="!params.data[params.deleteAttributeName] && !params.hideEdit"
    (click)="clickButton('edit')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.EDIT' | translate"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    class="ag-grid-btn"
    aria-label="Delete"
    *ngIf="params.deleteAttributeName && !params.data[params.deleteAttributeName]"
    (click)="clickButton('delete')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.DELETE' | translate"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    class="ag-grid-btn"
    aria-label="Restore"
    *ngIf="params.deleteAttributeName && params.data[params.deleteAttributeName]"
    (click)="clickButton('restore')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.RESTORE' | translate"
  >
    <mat-icon>restore</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    class="ag-grid-btn"
    aria-label="Delete"
    *ngIf="params.deleteAttributeName && params.data[params.deleteAttributeName]"
    (click)="clickButton('permanentlyDelete')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.PERMANENTLY_DELETE' | translate"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    color="accent"
    class="ag-grid-btn"
    *ngIf="params.view"
    aria-label="view"
    (click)="clickButton('view')"
    [matTooltip]="'ADMIN.AG_GRID.TOOLTIP.VIEW' | translate"
  >
    <mat-icon>remove_red_eye</mat-icon>
  </button>
</div>
