.indent {
  padding-left: 0.8rem;
}

h4,
h6 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

p {
  margin: 5px;
  margin-top: 0;
}

h6 {
  font-size: 0.8rem;
}

section {
  margin-top: 1.6rem;
  border-bottom: 1px solid lightgray;
  &:first-child {
    margin-top: 0;
  }
}

article {
  &:first-child {
    margin-top: 0;
  }
  margin-top: 0.4rem;
}
