<div class="title-box close-button-container">
  <h2 mat-dialog-title class="tab-title">{{ (editMode ? 'COMMON.EDIT' : 'COMMON.ADD') | translate }} {{ 'ADMIN.ROLE.ROLE_DETAILS' | translate }}</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dialogRef.close()"><span aria-hidden="true">&times;</span></button>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" (ngSubmit)="saveRole(form)">
    <div class="editfields">
      <mat-form-field>
        <mat-label>{{ 'ADMIN.ROLE.NAME' | translate }}</mat-label>
        <input matInput trimFieldValue formControlName="name" [placeholder]="'ADMIN.ROLE.NAME' | translate" #name (keyup.esc)="close()" (keyup.enter)="saveRole(form)" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'ADMIN.ROLE.DESCRIPTION' | translate }}</mat-label>
        <textarea
          matInput
          trimFieldValue
          formControlName="description"
          [placeholder]="'ADMIN.ROLE.DESCRIPTION' | translate"
          #description
          (keyup.esc)="close()"
          (keyup.enter)="saveRole(form)"
        ></textarea>
      </mat-form-field>
      <div class="mat-form-field-wrapper">
        <mat-checkbox formControlName="active" #active>
          {{ 'ADMIN.ROLE.ACTIVE' | translate }}
        </mat-checkbox>
      </div>
    </div>
    <div class="button-panel modal-controls">
      <button mat-raised-button color="accent" type="button" (click)="close()" [matTooltip]="'ADMIN.ROLE.CANCEL_ALL_CHANGES' | translate">
        {{ 'ADMIN.ROLE.CANCEL' | translate }}
      </button>
      <button mat-raised-button color="primary" type="submit" [matTooltip]="'ADMIN.ROLE.SAVE_ALL_CHANGES' | translate">
        {{ 'COMMON.SAVE' | translate }}
      </button>

      <!-- [disabled]="form.pristine || form.invalid" -->
    </div>
  </form>
</mat-dialog-content>
