<ion-content>
  <ion-grid class="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size="12" size-lg="10" class="ion-padding">
        <app-title [content]="'USER.LIST.LIST' | translate"></app-title>
        <!-- Product Items List -->
        <ion-row class="list-item-wrapper" *ngIf="!loading">
          <ion-col size="12" size-sm="10" size-md="4" *ngFor="let data of listData | sort:'index';">
            <app-list-item [item]="data"></app-list-item>
          </ion-col>
        </ion-row>

        <ion-row class="list-item-wrapper" *ngIf="loading">
          <ion-col size="12" size-sm="10" size-md="4" *ngFor="let data of [1,2,3,4,5,6]">
            <p-skeleton width="350px" height="150px"></p-skeleton><br />
            <p-skeleton width="350px" height="1rem"></p-skeleton><br />
            <p-skeleton width="350px" height="1rem"></p-skeleton><br />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <app-footer [title]="cmsSettings?.name" [copyrightText]="cmsSettings?.copyright_text"></app-footer>
  </ion-grid>
</ion-content>
